<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <title>Página Web em Angular</title>
</head>
<body>
    <form>

      <h1>
        Página Web em Angular - Formulário 📝
      </h1>


      <div class="tudo">

        <div class="caixa">

          <label for="nome">Nome: </label>
          <input type="text" name="nome" [(ngModel)]="cliente.Nome">

          <label for="cpf">CPF: </label>
          <input type="text" name="cpf" [(ngModel)]="cliente.CPF">
          <div class="aviso" *ngIf="!cliente.CPFValido()">
            CPF Inválido
          </div>

          <label for="cep">CEP: </label>
          <input type="text" name="cep" [(ngModel)]="cliente.CEP" (blur)="VerificaCEP()">

          <label for="endereco">Endereço: </label>
          <input type="text" name="endereco" [(ngModel)]="cliente.Endereco">

          <div>
            <input class="salvar" type="button" (click)="salvar()" value="Salvar" [disabled]="!cliente.CPFValido()" />
          </div>

        </div>

      </div>

    </form>

    <footer>
      <p>Tiago Dantas Lobato - RA: 319136958</p>
    </footer>
</body>
</html>
